<!DOCTYPE html>
<html>
  <head>
    <title>Cale's start page</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/all.css' />

    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
    </script>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>

    <script type="text/javascript">
      var newsFeedURL = "/news";
      var dealsFeedURL = "/deals";
      var techNewsURL = "/tech";

      var feedElem = document.getElementById("newsFeed");
      var sectionElemsSlice = [];

      function loadNews(elem) {
        animateRotate(elem, true);
        $.ajax({
          url: newsFeedURL,
          method: 'GET',
          dataType: 'html',
          cache: false,
          success: function (response) {
            $('#newsFeed').html(response);
            $('#newsFeed').find("td").mouseover(function() {
              $(this).css("background", "#cce6ff");
              $(this).siblings("td").css("background", "#cce6ff");
            });

            $("#newsFeed").find("td").mouseout(function() {
              $(this).css("background", "none");
              $(this).siblings("td").css("background", "none");
            });

            var curTime = getCurrentTime();
            if (!elem.attr("lastrefreshmillis")) {
              sectionElemsSlice.push(elem);
            }
            elem.attr("title", "Last updated: " + curTime);
            elem.attr("lastrefreshmillis", Date.now());
            elem.css("color", "");

            animateRotate(elem, false);
          },
          error: function(response) {
            console.error(response);
            $('#newsFeed').html(response);
            animateRotate(elem, false);
          }
        });
      }

      function loadDeals(elem) {
        animateRotate(elem, true);
        $.ajax({
          url: dealsFeedURL,
          method: 'GET',
          dataType: 'html',
          cache: false,
          success: function (response) {
            $('#dealFeed').html(response);

            $('#dealFeed').find("td").mouseover(function() {
              $(this).css("background", "#cce6ff");
              $(this).siblings("td").css("background", "#cce6ff");
            });

            $("#dealFeed").find("td").mouseout(function() {
              $(this).css("background", "none");
              $(this).siblings("td").css("background", "none");
            });

            var curTime = getCurrentTime();
            if (!elem.attr("lastrefreshmillis")) {
              sectionElemsSlice.push(elem);
            }
            elem.attr("title", "Last updated: " + curTime);
            elem.attr("lastrefreshmillis", Date.now());
            elem.css("color", "");

            animateRotate(elem, false);
          },
          error: function(response) {
            console.error(response);
            $('#dealFeed').html(response);
            animateRotate(elem, false);
          }
        });
      }

      function loadTechNews(elem) {
        animateRotate(elem, true);
        $.ajax({
          url: techNewsURL,
          method: 'GET',
          dataType: 'html',
          cache: false,
          success: function (response) {
            $('#techNewsFeed').html(response);
            $('#techNewsFeed').find("td").mouseover(function() {
              $(this).css("background", "#cce6ff");
              $(this).siblings("td").css("background", "#cce6ff");
            });

            $("#techNewsFeed").find("td").mouseout(function() {
              $(this).css("background", "none");
              $(this).siblings("td").css("background", "none");
            });

            var curTime = getCurrentTime();
            if (!elem.attr("lastrefreshmillis")) {
              sectionElemsSlice.push(elem);
            }
            elem.attr("title", "Last updated: " + curTime);
            elem.attr("lastrefreshmillis", Date.now());
            elem.css("color", "");
             
            animateRotate(elem, false);
          },
          error: function(response) {
            console.error(response);
            $('#techNewsFeed').html(response);
            animateRotate(elem, false);
          }
        });
      }

      function animateRotate(elem, rotate) {
        if (rotate) {
          elem.addClass("fa-spin");
        }
        else {
          elem.removeClass("fa-spin");
        }
      }

      function getCurrentTime() {
        var currentTimeFormatted = new Date().toLocaleTimeString('en-US', {
          hour: '2-digit',
          minute: '2-digit',
          second: '2-digit',
          hour12: true // Set to false for 24-hour format
        });
        return currentTimeFormatted;
      }

      function runTimer() {
        setTimeout(runTimer, 120000);
        var curTimeMillis = Date.now();
        sectionElemsSlice.forEach((elem, index) => {
          var lastRefreshTime = parseInt(elem.attr("lastrefreshmillis"));
          if ((curTimeMillis - lastRefreshTime) > 7200000) {
            //turn red
            elem.css("color","red");
          }
          else if ((curTimeMillis - lastRefreshTime) > 3600000) {
            //turn yellow
            elem.css("color","#FFD43B");
          }
          else {
            elem.css("color","");
          }
        });

      }

      $( document ).ready(function() {
        loadNews($("#reloadNews"));
        loadDeals($("#reloadDeals"));
        loadTechNews($("#reloadTech"));
        runTimer();
      });
    </script>
  </head>
  <body>
 
   <div class="favorites"> 
   Favorites:
   <br>
   <div class="bookmarkDiv"><a href="https://www.facebook.com"><img class="favicon" title="Facebook" src="/images/facebook.jpeg"></a></div>
   <div class="bookmarkDiv"><a href="https://www.gmail.com"><img class="favicon" title="Gmail" src="/images/gmail.ico"></a></div>
   <div class="bookmarkDiv"><a href="https://www.woot.com"><img class="favicon" title="Woot!" src="/images/woot.png"></a></div>
   <div class="bookmarkDiv"><a href="https://www.usatoday.com"><img class="favicon" title="USA Today" src="/images/usatoday.jpeg"></a></div>
   <div class="bookmarkDiv"><a href="https://www.amazon.com"><img class="favicon" title="Amazon" src="/images/amazon.ico"></a></div>
   <div class="bookmarkDiv"><a href="https://www.nfl.com"><img class="favicon" title="NFL" src="/images/nfl.png"></a></div>
   <div class="bookmarkDiv"><a href="https://www.espn.com"><img class="favicon" title="ESPN" src="/images/espn.ico"></a></div>
   <div class="bookmarkDiv"><a href="https://www.kttc.com"><img class="favicon" title="KTTC" src="/images/kttc.ico"></a></div>
   <div class="bookmarkDiv"><a href="https://www.wunderground.com"><img class="favicon" title="Weather Underground" src="/images/wunderground.webp"></a></div>
   <div class="bookmarkDiv"><a href="https://www.dealnews.com/?sort=time"><img class="favicon" title="Deal News" src="/images/dealnews.jpeg"></a></div>
   <div class="bookmarkDiv"><a href="https://slashdot.org"><img class="favicon" title="Slashdot" src="/images/slashdot.jpeg"></a></div>
   <div class="bookmarkDiv"><a href="https://macrumors.com"><img class="favicon" title="MacRumors" src="/images/macrumors.ico"></a></div>
   <div class="bookmarkDiv"><a href="https://w3.ibm.com"><img class="favicon" title="w3" src="/images/w3.ico"></a></div>
   <div class="bookmarkDiv"><a href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_OWIwZmVlNGQtZTQwYS00ZWZiLWFlMDctY2VlNWU3NGE0ZDA2%40thread.v2/0?context=%7b%22Tid%22%3a%22fcf67057-50c9-4ad4-98f3-ffca64add9e9%22%2c%22Oid%22%3a%22558b3ad9-4475-4808-8bb9-2e78bceb7256%22%7d"><img class="favicon" title="Microsoft Teams" src="/images/msteams.ico"></a></div>
   </div>
  
   <script>
    /*
      $(".bookmarkDiv").mouseover(function() {
        $(this).css("background", "#cce6ff");
      });

      $(".bookmarkDiv").mouseout(function() {
        $(this).css("background", "none");
      });
      */
     var SMALL=0;
     var MEDIUM=1;
     var LARGE=2;

      $(function() {
        $(".bookmarkDiv").find("img").hover(
          function() {
            curElem=$(this).closest("div");
            leftElem=curElem.prev("div");
            rightElem=curElem.next("div");
            animateIcon(curElem, LARGE);
            if (leftElem) animateIcon(leftElem, MEDIUM);
            if (rightElem) animateIcon(rightElem,MEDIUM);
          }, function() {
            curElem=$(this).closest("div");
            leftElem=curElem.prev("div");
            rightElem=curElem.next("div");
            animateIcon(curElem, SMALL);
            if (leftElem) animateIcon(leftElem, SMALL);
            if (rightElem) animateIcon(rightElem, SMALL);
          }
        );
      });

      function animateIcon(selectedDiv, sml) {
        imageElem=selectedDiv.find("img");
        var divSize=40;
        var imgSize=32;
        if (sml == MEDIUM) {
          divSize=60;
          imgSize=48;
        }
        else if (sml == LARGE) {
          divSize=80;
          imgSize=64;
        }
        var a1=selectedDiv.animate({
          width: divSize,
          height: divSize,
        }, 0 );
        var a2=imageElem.animate({
          width: imgSize,
          height: imgSize,
        }, 0 );
      }
   </script> 

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NYSE-IBM/" rel="noopener" target="_blank"><span class="blue-text">IBM Price Today</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js" async>
  {
  "symbol": "NYSE:IBM",
  "width": 350,
  "colorTheme": "light",
  "isTransparent": true,
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->

   <div class="weather">
   Weather:
   <a class="weatherwidget-io" href="https://forecast7.com/en/44d01n92d64/55920/?unit=us" data-label_1="BYRON" data-label_2="WEATHER" data-theme="original" >BYRON WEATHER</a>
   </div>

   <div class="feeds">
   <table id="feedTable">
     <tr>
       <td>News:<i id="reloadNews" class="reloadImg fa-solid fa-sync" onclick="javascript:loadNews($(this));"></i><div class="feedDiv" id="newsFeed">News Loading...</div></td>
       <td>Deals:<i id="reloadDeals" class="reloadImg fa-solid fa-sync" onclick="javascript:loadDeals($(this));"></i><div class="feedDiv" id="dealFeed">Deals Loading...</div></td>
       <td>Tech News:<i id="reloadTech" class="reloadImg fa-solid fa-sync" onclick="javascript:loadTechNews($(this));"></i><div class="feedDiv" id="techNewsFeed">Tech News Loading...</div></td>
     </tr>
   </table>
   </div>
  </body>
</html>
